<app-toolbar [title]="'100 Angular Chalange'">
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Others</li>
  </ul>
</app-toolbar>
<main>
  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Top of Page'"
    [subTitle]="'Component'"
  >
    <p body>Scroll 400px down the page to render.</p>
  </app-card>
  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Star Raiting'"
    [subTitle]="'Component'"
  >
    <app-starrating body [rating]="4.5"></app-starrating>
  </app-card>

  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Progressbar'"
    [subTitle]="'Component'"
  >
    <app-progressbar body [value]="progressbar"></app-progressbar>
    <button footer (click)="progressbar = 75">Update</button>
  </app-card>

  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Accordion'"
    [subTitle]="'Component'"
  >
    <app-accordion body [items]="accordionItems"></app-accordion>
  </app-card>

  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Card'"
    [subTitle]="'Component'"
  >
    <p body>Body Content</p>
    <p footer>Footer Content</p>
  </app-card>
</main>
<app-tip-of-page></app-tip-of-page>
